 .bg-indigo {
    background-color: #0358e0;
  }

  .bgcol{
    box-shadow: 0px 4px 8px 6px rgb(170, 169, 169);
  }

/* First group of fields (blue background) */
.autofill-group1 input:-webkit-autofill,
.autofill-group1 input:-webkit-autofill:hover,
.autofill-group1 input:-webkit-autofill:focus {
  border: 1px solid #4a90e2 !important;
  -webkit-text-fill-color: rgb(0, 0, 0) !important;
  -webkit-box-shadow: 0 0 0px 1000px #ffffff inset !important;
  transition: background-color 5000s ease-in-out 0s;
}

/* Second group of fields (green background) */
.autofill-group2 input:-webkit-autofill,
.autofill-group2 input:-webkit-autofill:hover,
.autofill-group2 input:-webkit-autofill:focus {
  border: 1px solid #0358e0 !important; /* Green border */
  -webkit-text-fill-color: white !important;
  -webkit-box-shadow: 0 0 0px 1000px #0358e0 inset !important; /* Green background */
  transition: background-color 5000s ease-in-out 0s;
}


  
  .rightside .form-outline .form-control{
    background: #0358e0;
  }
  
  @media (min-width: 759px) {
    .card-registration-2 .bg-indigo {
      border-top-right-radius: 15px;
      border-bottom-right-radius: 15px;
    }
  }
  
  @media (max-width: 758px) {
    .card-registration-2 .bg-indigo {
      border-bottom-left-radius: 15px;
      border-bottom-right-radius: 15px;
    }
  }
  
  @media (min-width: 759px) {
    .card-registration-2 .bg-white {
      border-top-left-radius: 15px;
      border-bottom-left-radius: 15px;
    }
  }
  
  @media (max-width: 758px) {
    .card-registration-2 .bg-white {
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
    }
  }