.header{
    width: 100%;
    background-color: white;
    position: fixed;
    top: 0;
    z-index: 1000;

}   

.head{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-right: 5px;
}

.sidehead{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
    margin-right: 15px;
}

.icon{
    display: flex;
    flex-direction: column;
}

 p{
    margin: 0;
}

.rightDiv{
    display: none;
}


.loginBtn:hover {
    text-decoration: none; /* Remove underline */
    color: inherit; /* Keep the same color as the non-hover state */
    background-color: white; /* Remove background color change */
}

.sidehead p{
    margin-top: 5%;
    margin-right: 10px;
}

.searchbox {
    border-Radius:10px;
    height:35px;
    /* margin-Top:10px; */
    padding-Left:8px;
    width:22%;
    border: 1px solid #304DB5;
}

.logos {
    width : 35px ;
    height : 35px;
}

.names{
    cursor: pointer;
}

@media only screen and (max-width: 750px) {

    .sidehead {
        display: flex;
        gap: 10px;
        margin-right: 10px;
        margin-top: 8px;
        padding-right: 8px;
    }
    .names {
        display: none;
    }
    .logos {
        width: 30px;
        height: 30px;
        gap: 15px;  
    }

    .searchbox {
        width: 40%;
    }

    .head {
        margin-top: 2px;
        display: flex;
        justify-content: space-between; 
        max-width: 100%;
        padding-right: 3%;
        gap: 5%;
    }

}

@media only screen and (max-width: 510px){
    .lgsgbtn{
        display: none;
    }

    .rightDiv{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 2px;
        background-color: #0d6efd;
        padding: 5px;
        filter: brightness(1);
        color: aliceblue;
        box-shadow: 0px 5px 4px rgb(189, 190, 190);
        border-radius: 5px;
        min-width: 140px;
    }

}
