.logingradient-custom-2 {
  background: #fccb90;
  background: -webkit-linear-gradient(110deg, rgba(24,73,154,1) 54%, rgba(0,152,244,1) 96%);
  background: linear-gradient(110deg, rgba(24,73,154,1) 54%, rgba(0,152,244,1) 96%);
  border-top-right-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
  height: 100%;
}

.logingradient-form {
  height: 100vh;
  max-height: 100vh;
  overflow: hidden;
}

.logincustom-input {
  height: 50px;
  width: 80%;
  padding-top: 9px;
}

.logincustom-btn {
  height: 60px;
  min-height: 65px;
}

.loginlogo-container img {
  max-width: 100%;
  /* height: auto; */
  width: 170px;
  margin: 0 auto 20px;
  display: block;
}

a {
  text-decoration: none;
}

a:hover {
  color: inherit;
}

@media only screen and (max-width: 768px) {
  .logingradient-form {
    height: auto;
  }

  .logincustom-input {
    width: 100%;
  }
}

@media only screen and (max-width: 750px) {
  .d-none.d-md-flex {
    display: none !important;
  }
  
}

@media (min-width: 768px) {
  .logingradient-form {
    height: 100vh !important;
  }
}
