
.title{
  font-size: 25px;
  font-weight: 700;
  color: #304DB5;
  text-align: center;
}

.form-container {
  width: 100%;
  height: 100%;
  color: #304DB5;
}

.formcontainer1{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 55vw;
  gap: 2rem;
  margin-top: 2%;
}



.form-row {
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
}

.form-row label {
  display: block;
  width: 90px;
}


.doublefield{
  width: 100%;
}

.form-row input {
  flex: 1;
  padding: 10px;
  border: 1px solid rgb(24,73,154);
  border-radius: 10px;
  min-width: 60px;
} 

.personaldetails{
  box-shadow: 0 3px 8px 1px;
  border-radius: 20px;
  width: 100%;
}


.innerregister{
  margin: 10%;
  margin-top: 5%;
  margin-bottom: 5%;
}

.innerregister h2{
  font-weight: bold;
  font-size: 20px;
}


.doublerow input{
  padding: 3%;
}

.personaldetails .form-row{
  margin-top: 3%;
}

.doublerow{
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 1.5rem;
}

.personaldetails h2{
  color: #304DB5;
  margin-bottom: 3%;
}

.contact{
  box-shadow: 0 3px 8px 1px;
  border-radius: 20px;
  width: 100%;
}

.contact .form-row{
margin-top: 4%;
}

.contact h2{
  color: #304DB5;
  margin-bottom: 3%;
}

.prof{
  box-shadow: 0 3px 8px 1px;
  border-radius: 20px;
  width: 100%;
}

.prof .form-row{
margin-top: 3%;
}

.prof h2{
  color: #304DB5;
  margin-bottom: 3%;

}

.dropdown{
  padding: 1.3%;
  border-radius: 6px;
  width: 50%;
  border: 1px solid black;
  font-size: 12px;
}

.submit{
  background-color: #304DB5;
  color: white;
  padding: 2%;
  padding-top: 1%;
  padding-bottom: 1%;
  width: 30%;
  border-radius: 10px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 5%;

}  

.shimmer-btn{
  margin:0 auto;
  padding-bottom: 5%;
}

.error{
  color: red;
}

.design{
border-radius: 0% 0% 100% 0% ;
width: 13%;position: fixed;
left: 0;
top: 0;
}

.design img{
  width: 100%;
}

.design1{
border-radius: 100% 0% 0% 0% ;
width: 13%;position: fixed;
right:0;
bottom:0;
}

.design1 img{
  width: 100%;
}

@media only screen and (max-width:1150px){

  .doublerow{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0rem;
  }


}

@media only screen and (max-width:750px){

.formcontainer1{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 70vw;
  gap: 2rem;
  margin-top: 2%;
}

.form-row {
display: flex;
flex-direction: column;
gap: 5px;
margin-bottom: 15px;
}

.form-row label {
width: 100%;
}

input[type=password],input[type=email]{
border: 1px solid black;
padding: 5%;
}

.submit{
background-color: #304DB5;
color: white;
margin: 0 auto;
padding: 2%;
padding-top: 3%;
padding-bottom: 3%;
width: 40%;
border-radius: 10px;
font-size: 16px;
font-weight: bold;
text-align: center;
margin-bottom: 5%;
}  

.dropdown{
padding: 1%;
border-radius: 6px;
border: 1px solid black;
max-width: 100%;
max-height: 100%;
width: 60%;

}


}

